.profile__info {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 16px 18px;
  margin-left: 28.125px;

}

@media screen and (max-width: 850px) {
  .profile__info {
    margin: 0;
    justify-content: center;
    gap: 10px 10px;
    margin-top: 22.25px;
    margin-bottom: 36px;
  }
}
