.card__delete {
  background-color: transparent;
  border: none;
  background-image: url('../../../images/Trash.svg');
  background-repeat: no-repeat;
  width: 18px;
  height: 19.3px;
  position: absolute;
  top: 20px;
  right: 20px;
}
