.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 850px) {
  .popup__close {
    right: 0;
    width: 20px;
    height: 20px;
  }
}

.popup__close:hover {
  opacity: .6;
}
