.card__like {
  background-color: transparent;
  border: none;
  background-image: url('../../../images/like.svg');
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
}

.card__like:hover {
  opacity: .5;
}

.card__like:active {
  background-image: url('../../../images/like-dark.svg');
  opacity: 1;
}
