.header {
  display: flex;
  flex-direction: column;
  max-width: 880px;
  width: 68.75vw;
  box-sizing: border-box;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 320px) {
  .header {
    width: 100vw;
    padding-bottom: 31.6px;
  }
}
