.popup__save {
  background-color: #000;
  border-radius: 2px;
  color: #FFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 14px 0 18px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 25px;
}

@media screen and (max-width: 850px) {
  .popup__save {
    font-size: 14px;
    line-height: 17px;
    padding: 14px 0;
    margin-top: 15px;

  }
}

.popup__save:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
}

.popup__save:hover:disabled {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.15);
  cursor: auto;
}
